<html>
  <head>
    <title>The Loop!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="app/app.js"></script>
    <script src="app/theLoopController.js"></script>
  </head>
  <body ng-app="theLoop" ng-controller="theLoopController as loopCtrl">
    <h1>The Loop!</h1>
    <form ng-submit="loopCtrl.addPost()">
      <input type="text" placeholder="Title" ng-model="loopCtrl.title"></input>
      <br>
      <input type="text" placeholder="Link" ng-model="loopCtrl.link"></input>
      <br>
      <button type="submit" class="postBtn">Post</button>
    </form>
    <div ng-repeat="post in loopCtrl.posts | orderBy: '-upvotes'">
      <span class="glyphicon glyphicon-chevron-up" id="upVote" ng-click="loopCtrl.upVote(post)"></span>
      <a ng-show="post.link" href="{{post.link}}">{{post.title}}</a>
      <span ng-hide="post.link">{{post.title}}</span>
      - upvotes: {{post.upvotes}}
    </div>
  </body>
</html>
